@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CriarPublicacaoModal">
        Criar nova publicação
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CriarAnuncioModal">
        Criar novo anúncio
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CriarStorieModal">
        Criar novo storie
    </button>

    <div class="modal fade" id="CriarPublicacaoModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="color: white;">
            <div class="modal-content" style="background-color: #007bff;border-radius: 0.5rem;text-align:center;">
                <div class="modal-header" style="border-radius: 0.5rem 0.5rem 0 0;">
                    <h5 class="modal-title">Criar nova publicação</h5>
                    <button type="button" style="color:white;" class="btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #007bff;text-align:center;">
                    <form method="post" action="Publicacao/CriarPublicacao" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="DescricaoPublicacao" style="padding-bottom:10px;">Escreva seu texto ou legenda</label>
                            <textarea class="form-control" id="DescricaoPublicacao" name="descricao" rows="4" required style="border-radius: 0.5rem;"></textarea>
                        </div>
                        <div class="form-group" style="padding-top:10px;padding-bottom:10px;">
                            <label for="MidiaPublicacao" style="padding-bottom:10px;">Faça upload de sua foto</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="MidiaPublicacao" name="midia" accept="image/*,video/*">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block" style="border-radius: 0.5rem;background-color:#808080; color:white">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CriarAnuncioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="color: white;">
            <div class="modal-content" style="background-color: #007bff;border-radius: 0.5rem;text-align:center;">
                <div class="modal-header" style="border-radius: 0.5rem 0.5rem 0 0;">
                    <h5 class="modal-title">Criar novo anúncio</h5>
                    <button type="button" style="color:white;" class="btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #007bff;text-align:center;">
                    <form method="post" action="Publicacao/CriarAnuncio" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="DescricaoAnuncio" style="padding-bottom:10px;">Escreva seu texto ou legenda</label>
                            <textarea class="form-control" id="DescricaoAnuncio" name="texto" rows="4" required style="border-radius: 0.5rem;"></textarea>
                        </div>
                        <div class="form-group" style="padding-top:10px;padding-bottom:10px;">
                            <label for="MidiaAnuncio" style="padding-bottom:10px;">Insira a URL da foto</label>
                            <input class="form-control" type="text" id="MidiaAnuncio" style="border-radius: 0.5rem;" name="urlImagem">
                        </div>
                        <div class="form-group" style="padding-top:10px;padding-bottom:10px;">
                            <label for="LinkAnuncio" style="padding-bottom:10px;">Insira a URL de redirecionamento</label>
                            <input class="form-control" type="text" id="LinkAnuncio" style="border-radius: 0.5rem;" name="link">
                        </div>
                        <button type="submit" class="btn btn-block" style="border-radius: 0.5rem;background-color:#808080; color:white">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CriarStorieModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="color: white;">
            <div class="modal-content" style="background-color: #007bff;border-radius: 0.5rem;text-align:center;">
                <div class="modal-header" style="border-radius: 0.5rem 0.5rem 0 0;">
                    <h5 class="modal-title">Criar novo anúncio</h5>
                    <button type="button" style="color:white;" class="btn" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #007bff;text-align:center;">
                    <form method="post" action="Publicacao/CriarStorie" enctype="multipart/form-data">
                        <div class="form-group" style="padding-top:10px;padding-bottom:10px;">
                            <label for="MidiaStorie" style="padding-bottom:10px;">Faça upload de sua foto</label>
                            <input type="file" class="custom-file-input" id="MidiaStorie" name="conteudo" accept="image/*,video/*">
                        </div>
                        <button type="submit" class="btn btn-block" style="border-radius: 0.5rem;background-color:#808080; color:white">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>